spring:
  #profile.active: dev, test, prod
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    #url: jdbc:mysql://localhost/railway
    username: ${DB_USER}
    #username: root
    password: ${DB_PASSWORD}
    #password: ${DB_PSWCAC}
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:/db/migration
    schemas: railway

server:
  error:
    include-stacktrace: never
api:
  security:
    secret: ${JWT_SECRET:123456}


auth0:
  domain: ${tu-dominio-auth0-com}
  clientId: ${tu-client-id}
  clientSecret: ${tu-client-secret}
  audience: ${tu-api-identifier}
  apiBaseUrl: https://${tu-dominio-auth0-com}/

security:
  oauth2:
    client:
      registration:
        auth0:
          client-id: ${tu-client-id}
          client-secret: ${tu-client-secret}
          scope: openid profile email
         ## redirect-uri: "${baseUrl}/login/oauth2/code/{registrationId}"
          redirect-uri: "${tu-dominio-auth0-com}/login/oauth2/code/{registrationId}"
          authorization-grant-type: authorization_code
          client-name: Auth0
      provider:
        auth0:
          authorization-uri: https://${tu-dominio-auth0-com}/authorize
          token-uri: https://${tu-dominio-auth0-com}/oauth/token
          user-info-uri: https://${tu-dominio-auth0-com}/userinfo
          user-name-attribute: sub

#spring.datasource.url=jdbc:mysql://localhost/salud_vital
#spring.datasource.username=root
#spring.datasource.password=2812
#
#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true
#
#server.error.include-stacktrace=never
#
#api.security.secret=${JWT_SECRET:123456}

